<% if(theme.socials.length){ %>
<div class="widget tag">
    <h3 class="title"><%= __('my_links') %></h3>
    <ul class="link_ul">
    <% theme.socials.forEach(function(item){ %>
        <li>
        <a target="_blank" href="<%= item.link %>">
        <img class="link_img" src="<%- config.root %><%= item.icon %>"/>
        </a>
        </li>
    <%}); %>
    </ul>
<div>
<% } %>